<ion-view view-title="Sign Up!">
  <ion-content class="padding">
    <form ng-submit="signup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.display_name" autocorrect="off">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email" autocapitalize="none" autocorrect="off">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" autocapitalize="none" autocorrect="off">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
