<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button class="button button-warning" ng-click="openModal()">{{}}!</button>
    <div class="container" ng-init="loadPosts()">
      <div ng-repeat="post in posts">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{post.title}}</h4>
            <h4>This is the post content: {{post.content}}</h4>
          </div>
          <div ng-show="post.content">
          </div>
          <div class="card-block">
            <br>
            <a class="card-link">There are {{post.rooms}} rooms in this location</a>
            <br>
            <a class="card-link">This place costs: ${{post.price}}</a>
            <br><br>

          </div>
          <br>


          <div class="card-block">
            <div class="row">
              <div class="col-sm-12">
                <div style="width:auto; height:auto;  float:left; margin-left:17%; background-color: #FED136; color:white; " ng-show="post.wifi"> <img  alt="Rooms" src="../img/tv-internet.png" height="auto" width="45px" id="tv-internet"></div>

                <div style="width:auto; height:auto; float:left; margin-left:17%; background-color: #FED136; color:white;" ng-show="post.pets"><img  alt="Pets" src="../img/pets.png" height="auto" width="45px" id="pets"></div>

                <div style="width:auto; height:auto;  float:left;margin-left:17%; background-color: #FED136; color:white;" ng-show="post.parking"><img  alt="Parking" src="../img/parking.png" height="auto" width="45px" id="parking"></div>

                <br><br><br>

                <div style="width:auto; height:auto; float:left; margin-left:17%; background-color: #FED136; color:white;" ng-show="post.laundry"> <img  alt="Pets" src="../img/laundry.png" height="auto" width="47px" id="laundry"></div>

                <div style="width:auto; height:auto; float:left; margin-left:17%; background-color: #FED136; color:white;" ng-show="post.furnished"> <img  alt="Parking" src="../img/sofa.png" height="auto" width="47px" id="sofa"></div>

                <div style="width:auto; height:auto; float:left; margin-left:16%; background-color: #FED136; color:white;" ng-show="post.smoking"><img  alt="Pets" src="../img/smoking.png" height="auto" width="47px"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
